
@charset "utf-8";
@import url(./common.css);
/* main */
#container #left {
  padding: 20px 10px 50px;
  float: left;
  width: 400px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  /* outline: 1px dotted blue; */
}
#container #center {
  padding: 20px 10px 50px;
  width: 400px;
  float: left;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
#container #right {
  padding: 20px 10px 50px;
  width: 400px;
  float: right;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
/* sub */
#container #leftMenu {
  float: left;
  width: 200px;
  padding: 10px;
  box-sizing: border-box;
  /* outline: 1px dotted blue; */
}
#container #leftMenu h2 {
  margin-bottom: 15px;
  padding: 10px 0;
  border: 2px solid #ccc;
  text-align: center;
}
#container #leftMenu ul {
}
#container #leftMenu ul li {
}
#container #leftMenu ul li a {
  outline: 1px dotted red;
  display: block;
  margin-bottom: 5px;
  padding: 10px 0;
  /* background: rgb(245, 214, 224); */
  border-bottom: 2px dashed #ccc;
}
#container #leftMenu ul li a:hover {
  color: green;
  text-align: right;
}
#container #content {
  /* outline: 1px dotted blue; */
  width: 1000px;
  float: left;
  padding: 10px 10px 300px;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}

