@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 기본글자서식 */
body {
  font: 12px "돋움", dotum, sans-serif;
  background: #fff;
  color: #333;
}
.header {
  display: flex;
  flex-direction: column;
  
}
h1 {
  filter: grayscale(); /*흑백 색상*/
}

h1 img {
  filter: grayscale();
}
 