@charset "utf-8";
@import url(./font.css);

 h3 {
    font-family: 'NanumPen';
   }
/* reset */
   /* * {
     margin: 0;
     padding: 0;
   }
   li {
     list-style: none;
   }
   a {
     text-decoration: none; color: inherit;
   } */
 /* 기본 글자 서식 */
 body {
   /* font-family: '돋움', dotum, sans-serif; */
   font: 16px/1.8 '돋움', dotum, sans-serif; ; /*16px : 폰트사이즈/ 1.8* 글자간격*/
   color: #333;
 }
 h2 {
   font-family: "Single Day", cursive;
 }
 div h2 {
   font-family: "Noto Serif KR", serif;
 }
 div {
   font-family: "NanumPen", serif;
   font-style: 900;
 }

 /* 글자장식 */
 .none a {
  text-decoration: none;
 }
 .underline {
  text-decoration: underline;
 }
 .overline {
  text-decoration: overline;
 }
 .line-through {
  text-decoration: line-through;
 }
 .dotted {
  text-decoration: underline dotted red;
 }
 .dashed {
  text-decoration: underline dashed red;
 }
 .wavy {
  text-decoration: underline wavy red;
 }
 .both {
  text-decoration: underline solid red;
 }
 .both {
  text-decoration: underline double solid red; text-underline-offset: 3px;
 }


 /* font-style */
 .style1 em {
  font-style: normal;
  background-color: yellow;
 }
 .style1  {
  color: green ;
  font-style: oblique;
 }
 .right {
  text-align: right;
 }
 .left {
  text-align: left;
 }
 .center {
  text-align: center;
 }
 .justify {
  text-align: justify;
  color: blue;
  /* word-spacing: 0px;
  letter-spacing: 5px; */
 }
 .letter {
  letter-spacing: 10px;
 }
 .word {
  word-spacing: 20px;
 }
 .lineheight{
  height: 100px;
  outline: 1px dotted red;
  line-height: 100px;
  text-align: center;
 }
 .paper  {
  outline: 1px dotted red;
  width: 80%;
 }
 .paper h1, h2 {
  border: 1px solid #000;
 }
 .paper h1 {
  text-indent: 20px;
 }
 .paper h1 {
  text-indent: -20px;
 }
 .transform {
  
 }
 .transform h2{
   text-transform: uppercase;

 }
 .transform h3 {
  text-transform: lowercase;
 }
 .transform h4{
  text-transform: capitalize;
 }