@charset "utf-8";
@import url(./reset.css);

/* 기본글자서식 */
body {
  font:12px "돋움",dotum, sans-serif; 
  color: #333;
}
/* 공통서식 */
.inner {
  width: 1290px; 
  margin: 0 auto; 
  /* outline: 1px dotted red; */
}
.clearFix::after {
  content: '';
  display: block;
  clear: both;
}
/* footer */
footer {
  margin-top: 60px;
  padding-bottom: 50px;
  border-top: 1px solid #ebebeb;
  background: #f5f6f7;
}
footer .banner {}
footer .banner ul {padding: 30px 0;}
footer .banner ul li {
  float: left;
  width: calc(100% / 3);
}
footer .banner ul li .photo {
  float: left;
  width: 160px;
}
footer .banner ul li .text {
  float: right;
  width: 252px;
}
footer .banner ul li .text .org {
  display: inline-block;
  margin-bottom: 12px;
  padding: 5px 7px;
  border-radius: 5px;
  background: #a0adb2;
  color: #fff;
}
footer .banner ul li .text .tit {
  margin-bottom: 10px;
  font-size: 14px;
}
footer .banner ul li .text .cont {
  /* padding-right: 70px; */
  line-height: 1.6;
  /* word-break: keep-all; */
}

footer .news {
  height: 60px;
  border-top: 1px solid #ebebeb;
  border-bottom : 1px solid #ebebeb;
  /* border-width:1px 0; 
  border-style:solid;
  border-color:#eee; */
  /* box-sizing: border-box; */
  line-height: 60px;
}
footer .news .notice {float: left;}
footer .news .notice dt {
  float: left;
  margin-right: 10px;
  font-weight: bold;
}
footer .news .notice dd {
  float: left;
}
footer .news .service_all {
  float: right;
  font-weight: bold;
}
footer .btmNav {
  padding: 15px 0 14px;
  border-bottom: 1px solid #ebebeb;
}
footer .btmNav .menuWrap {
  float: left;
  width: 860px;
}
footer .btmNav .menuWrap dl {
  margin: 8px 0;
}
footer .btmNav .menuWrap dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
}
footer .btmNav .menuWrap dl dd {
  float: left;
  padding: 0 10px;
  background: url(../images/bullet.png) no-repeat 0 50%;
  /* outline: 1px dotted red; */
}
footer .btmNav .menuWrap dl dd:first-of-type {padding-left: 0; background: none;}
footer .btmNav .menuWrap a:hover {text-decoration: underline;}
footer .btmNav .guide {
  float: right;
  width: 320px;
}

footer .copyright {
  width: 800px;
  height: 60px;
  margin: 0 auto;
  /* outline: 1px dotted red; */
}
footer .copyright ul {
  float: left;
  /* background: yellow; */
  line-height: 60px;
}
footer .copyright ul li {
  float: left;
  padding: 0 10px;
  background: url(../images/bullet.png) no-repeat 0 center;
  /* outline: 1px dotted red; */
}
footer .copyright ul li:first-child {padding-left: 0; background: none;}
footer .copyright p {
  float: right;
  height: 60px;
  font-weight: bold;
  line-height: 60px;
}
footer .copyright p small {display: inline-block;}
footer .copyright a:hover {text-decoration: underline;}