* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
small {
  font-size: 12px;
}
body {
  font-size: 12px "돋움", dotum, sans-serif;
  color: #333;
}
/* 공통서식 */
.inner {
  width: 1200px;
  margin: 0 auto;
  outline: 1px dotted red;
}
.hidden {
  display: none;
}
/* 레이아웃 */
header {
  border-bottom: 1px solid #ccc;
}
header .inner {
  height: 100px;
}
header .inner .logo {
  float: left;
  width: 200px;
  line-height: 100px;
}
header .inner nav {
  float: left;
  width: 1000px;
}
header nav ul {
  float: right;
  height: 50px;
  width: 800px;
  margin-top: 25px;
}
header nav ul li {
  float: left;
  width: 25%;
  height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  outline: 1px dotted dodgerblue;
}
header nav ul li a {
}
header nav ul li:hover a {
  color: aquamarine;
}
/* footer */
footer {
  border-top: 1px solid #ccc;
  line-height: 1.8  ;
}
footer .inner {
  padding: 20px 0;
}
